html{
    touch-action:manipulation;
}
body {
    font-family: 'Segoe UI', sans-serif;
}


div {
    margin: 1em;
}

#content {
    display:flex;
    flex-grow:1;
}
#field{
    flex-basis:auto;
}
#maintable {
    border: solid medium;
    border-collapse: collapse;
}

    #maintable td {
        width: 36px;
        height: 36px;
        border: dashed 1px;
        position:relative;
    }
        #maintable td img {
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
        }


#controler {
    display: flex;
    flex-grow:1;
    flex-direction:column;
}

#buttontable {
    flex-basis: auto;
    border: solid medium;
    border-collapse: collapse;
}

    #buttontable td {
        border: solid 1px;
        width: 96px;
        height: 96px;
        padding: 5px;
    }

    #buttontable button {
        width: 100%;
        height: 100%;
        font-size: 24px;
    }

#message {
    /*width:100%;*/
    flex-grow: 1;
    /*height:100%;*/
}
