@media(max-width:1000px) {
    #content {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
    }

    #controler {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
    }
}
